{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %} 

 <!-- Three columns of text below the carousel -->
 <div class="row">
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Gestion complete de vos projets <span class="text-muted"></span></h2>
        <p class="lead">Notre agence web accompagne nos clients dans la <font>création 
            de site internet</font> ou la <font>refonte de votre site</font> web: <br> 
            - gestion de projet<br> 
            - audit technique<br>
            - l'identité visuelle à votre image<br>
            - design & ergonomie<br>
            - conception graphique<br>
            - expérience client<br>
            - développement web sur-mesure<br>
            - référencement naturel<br>
            - référencement payant<br>
            - média sociaux<br></p> 
    </div>
    <div class="col-md-5">
        <img src="{{ asset('/assets/images/unnamed (1).jpg')}}" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
    </div>
</div>



<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">vous confiez la création de votre site internet à une agence web ? <span class="text-muted"></span></h2>
        <p class="lead"> 
            
            Notre agence conseil est <font>spécialiste dans la création de site web</font> afin 
            de répondre à tous vos besoins et d'élaborer une véritable <font>stratégie 
            digitale sur-mesure</font>.<br>

            <br>Construire un site web requiert des compétences en graphisme
            pour la <font>réalisation de votre logo</font> et design des pages du site, 
            webmarketing pour avoir un site web performant et <font>générer de 
            nouveaux clients</font> et enfin en référencement naturel et payant pour être 
            visible sur Google et développer votre acquisition de trafic. <br>   </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{{ asset('/assets/images/mathilde.jpg')}}" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></svg>
    </div>
</div>





<center> <div class="video"> <iframe width="560" height="315" src="https://www.youtube.com/embed/56NfqCe9Uc4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             </div> </center>

<!-- /END THE FEATURETTES -->

{% endblock %}